<loader *ngIf="!tracks"></loader>

<div *ngIf="tracks" id="tracks-div">
  <div id="tracks-headings">
    <h1 class="tracks-headline">Tracks</h1>
    <h5 class="tracks-headline-sub">Press watch in order to watch the timeline for the selected event.</h5>
  </div>

  <div class="table-wrapper">
    <div class="table-scroll">
      <table class="table table-tracks">
          <tr class="table-header">
              <th>#</th>
              <th>Track name</th>
              <th>Track start time</th>
              <th>Watch</th>
            </tr>
        <tr *ngFor="let track of tracks" class="track track-row">
          <td class="track-id">{{track.id}}</td>
          <td>{{track.name}}</td>
          <td>{{track.start}}</td>
          <td><a routerLink="/timeline/{{track.id}}" class="btn btn-watch">Watch</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
<modal></modal>