/* ----------------------------------------------------- */
/* NAVBAR */
/* ----------------------------------------------------- */

nav {
    display: block;
    height: 50px;
    margin: 0px;
    padding: 0 10%;
    color: #333;
    background-color: transparent;

    transition: all .7s;
}

.nav-navbar {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
}

.nav {
    margin: 0;
    float: left;

    list-style: none;
}

.nav li {
    float: left;
    font-size: 20px;
    padding: 9px 10px;
}
   
nav li a:link,
nav a:visited {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 3px 0;
    border-bottom: 2px transparent solid;

    transition: .5s all;
}
   
nav li a:hover {
    border-bottom: 2px #333 solid;
}

.nav-right {
    float: right;
}

.nav-right li {
    padding: 9.5px 10px;
}

.sign {
    text-decoration: none;
    padding: 9px 10px;
}

nav li.sign a:link,
nav li.sign a:visited {
    font-family: 'Nunito', sans-serif;
    color: #333;
    text-decoration: none;
    display: block;
    padding: 1px 10px;
    border-radius: 100px;
    border: 1px solid #333;

    transition: .5s all;
}

nav li.sign a:hover {
    background-color: #333;
    color: #fff;
}

/* ----------------------------------------------------- */
/* LOGO */
/* ----------------------------------------------------- */

.logo {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    margin: 10px auto;

    float: left;
}

nav a.logo:link,
nav a.logo:visited {
    text-decoration: none;
}

/* ----------------------------------------------------- */
/* NAVBAR NOT IN HOME SCREEN */
/* ----------------------------------------------------- */

.nav-background {
    color: #fff;
    background-color: #333;
}

nav.nav-background li a:link,
nav.nav-background li a:visited {
    color: #fff;
}

nav.nav-background li a:hover {
    border-bottom: 2px #fff solid;
}

nav.nav-background a.logo:link,
nav.nav-background a.logo:visited {
    color: #fff;
}

nav.nav-background li.sign a:link,
nav.nav-background li.sign a:visited {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 1px 10px;
    border-radius: 100px;
    border: 1px solid #fff;

    transition: .5s all;
}

nav.nav-background li.sign a:hover {
    background-color: #fff;
    color: #333;
}