.background {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-image: url(/assets/images/hero.jpg);
}

.none-background {
    background: none;
}

.copyright {
    color: #777;
    font-size: 12px;

    bottom: 0;
    right: 0;
    position: fixed;
    padding: 10px;
}