<header [ngClass]="{'background':isHomeScreen, 'none-background':!isHomeScreen}">
    <nav [ngClass]="{'nav-background':!isHomeScreen}">
        <div class="row">
            <a routerLink="/" class="logo">timint</a>
            <ul class="nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Home</a></li>
                <li routerLinkActive="active"><a routerLink="/timeline">Timeline</a></li>
            </ul>
        </div>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<div class="copyright">
    <span>Copyright © 2018 - Liran Cohen, Tom Shushan, Dekel Adler</span>
</div>