.nav-tabs {
    border-bottom: none;
}

ul.nav {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
  }
.nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
  }
   
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s background-color;
  }
   
.nav a:hover {
    background-color: #005f5f;
  }
   
.nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    .nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    }
   
    /* Options 2 - Float*/
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
      height: 50px;
    }
    
  }

.background {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-image: url(/assets/images/hero.jpg);
}

.none-background {
    background: none;
}

.copyright {
    color: #777;
    font-size: 12px;

    bottom: 0;
    right: 0;
    position: fixed;
    padding: 10px;
}