.text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.primary-heading {
    color: #333;
    position: relative;
    margin-bottom: 35px;

    backface-visibility: hidden;
    text-transform: uppercase;
    animation: moveInTop 1s ease-out;
}

.primary-heading-main {
    display: block;
    font-weight: 400;
    letter-spacing: 40px;
}

.primary-heading-sub {
    display: block;
    font-weight: 300;
    letter-spacing: 20px;
}

.btn-gray {
    background-color: #333;
    color: #fff;

    animation: moveInBottom 1s ease-out;
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity:1;
        transform: translateY(0);
    }
}